//brand color
$brand-color: #FFC814;

//background color
$tabbar: #FAFAFA;
$body: #FDFDFD;
$input: #F0F0F0;

//font color
$normal-color: #4D4D4D;
$light-color: #888;

//border color
$border: #ccc;

//others color
$attention-color: #FF1414;

// mobile font size これはメモ
// 3vw 3.2vw 3.4vw, 3.6vw, 4vw, 4.5vw
